@font-face {
    font-family: JosefinSlab;
    src: url('../fonts/JosefinSlab-VariableFont_wght.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

p{
    width: 200px;
    color: rgb(211, 189, 255);
    margin: 10px;
    font-size: 2.2rem;
    padding: 7px;
    font-weight: bold;
    -webkit-text-stroke: 1.3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-family: 'JosefinSlab';
    background-color: rgba(0, 0, 0, 0.082);
    text-align: center;
}

form {
    display: flex;
    grid-template-columns: 1fr;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 25px;;
}

label{
    font-family: 'JosefinSlab';
    font-size: 1.6rem;
    display: flex;
    margin-bottom: 5px;
    margin-top: 8px;
}

input{
    width: 34%;
    margin-bottom: 10px;
    font-family: 'JosefinSlab';
}

select{
    width: 35%;
}

option{
    margin-bottom: 5px;
    font-family: 'JosefinSlab';
}

h1{
    font-family: 'JosefinSlab';
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn{
    width: 15%;
    background-color: rgb(183, 207, 250);
    padding: 5px;
    margin-top: 10px;
}

.gallerySection {
	display: flex;
	flex-wrap: wrap;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	width: 350px;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-items: center;
	align-items: start;
	justify-content: center;
    margin: 10px;
    border: 2px solid black;
    border-radius: 7px;
    object-fit: cover;
}
/*  */
